<div id="<%= dom_id property %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= property.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= property.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= property.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= property.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bedrooms:</strong>
    <%= property.bedrooms %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bathrooms:</strong>
    <%= property.bathrooms %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Square feet:</strong>
    <%= property.square_feet %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total Score:</strong>
    <%= property.total_score %>%
  </p>

</div>
