<main class="container mx-auto px-4 py-8">
        <h2 class="text-2xl font-semibold text-gray-800 mb-6">Dicas</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-8">
          <% @pages.each do |page| %>
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <%= image_tag "image copy.png", alt: "Luxury Apartment", class: "w-full h-48 object-contain" %>
                <div class="p-6">
                    <h3 class="text-xl font-semibold text-gray-800 mb-2"><%= page.title %></h3>
                    <p class="text-gray-600 mb-4"><%= page.content.to_plain_text.truncate(100) %></p>
                    <%= link_to "Read More", page, class: "text-indigo-600 hover:text-indigo-800 font-medium" %>
                </div>
            </div>
          <% end %>
        </div>

        <div class="text-center">
          <%= link_to "Criar Nova Listagem de Casa", new_page_path, class: "inline-block bg-indigo-600 text-white text-lg font-semibold px-8 py-4 rounded-full shadow-lg hover:bg-indigo-700 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105" %>
        </div>

        <div class="text-center mt-5">
          <%= link_to "Verificar Propriedades Calc", properties_path, class: "inline-block bg-indigo-600 text-white text-lg font-semibold px-8 py-4 rounded-full shadow-lg hover:bg-indigo-700 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105" %>
        </div>
    </main>